.bodyInner {
    max-width: 80vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-width: 900px;
}
.bodyInner > div {
    width: 100%;
}