:root {
  --btnHeight2: 50vh;
  --btnWidth2: 65px;
}
.sliderTypeTwo {
  max-width: 100%;
  width: 100%;
  margin-bottom: 3.5em;
  margin-top: 3.5em;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.sliderTypeTwo__item {
  min-width: calc(33.33% - 0.499999em);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-direction: flex-start;
  height: 100%;
  margin-top: 3.5em;
}
.sliderTypeTwo__item:not(:last-child) {
  margin-right: 0.5em;
}
.sliderTypeTwo > button,
.sliderTypeTwo__counter,
.sliderTypeTwo__item-heart {
  position: absolute;
}
.sliderTypeTwo__item-img {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  user-select: none;
  background-color: rgb(247, 247, 247);
}
.sliderTypeTwo__item-img-bg {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  user-select: none;
  transition: all 300ms cubic-bezier(1, 0.01, 0.7, 1);
}
.sliderTypeTwo__item-img-bg > img,
.sliderTypeTwo__item-img-fg > img {
  width: 100%;
  min-height: 65vh;
  max-height: 65vh;
  object-fit: cover;
}
.sliderTypeTwo__item-img-bg-no-fg {
  object-fit: contain!important;
}
.sliderTypeTwo__item-img-fg {
  transition: all 300ms cubic-bezier(1, 0.01, 0.7, 1);
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.sliderTypeTwo > button {
  width: var(--btnWidth2);
  height: var(--btnHeight2);
  bottom: calc(65vh - var(--btnHeight2));
  z-index: 3;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.sliderTypeTwo > button:hover {
  background-color: rgba(100, 100, 100, 0.4);
}
.sliderTypeTwo
  > button:not(.sliderTypeTwo__nextBtn-show, .sliderTypeTwo__prevBtn-show) {
  display: none;
}
.sliderTypeTwo__nextBtn-show,
.sliderTypeTwo__prevBtn-show {
  display: block;
}
.sliderTypeTwo__prevBtn {
  left: 0;
}
.sliderTypeTwo__nextBtn {
  right: 0;
  margin-right: 0.5em;
}
.sliderTypeTwo__item-info {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-top: 1em;
  position: relative;
}
.sliderTypeTwo__item-info > span:first-child {
  font-weight: bold;
  font-size: 0.7rem;
  margin-bottom: 0.25em;
  cursor: default;
}
.sliderTypeTwo__item-info > span:nth-child(2) {
  cursor: default;
}
.sliderTypeTwo__item-info-circle {
  width: 15px;
  height: 15px;
  margin-right: 0.25em;
  border-radius: 50%;
  border: 1px solid rgb(150, 150, 150);
}
.sliderTypeTwo__item-info > span:nth-child(3) {
  display: flex;
  margin-top: 1em;
  transition: all 300ms cubic-bezier(1, 0.01, 0.7, 1);
}
.sliderTypeTwo__item:not(.sliderTypeTwo__item-no-fg):hover
  .sliderTypeTwo__item-img-bg {
  opacity: 0;
  visibility: hidden;
  animation: 300ms cubic-bezier(1, 0.01, 0.7, 1) fadeOut;
}
.sliderTypeTwo__item:hover .sliderTypeTwo__item-img-fg {
  opacity: 1;
  visibility: visible;
}
.sliderTypeTwo__item:hover .sliderTypeTwo__item-info > span:last-child {
  opacity: 1;
  visibility: visible;
}
.sliderTypeTwo__item:hover .sliderTypeTwo__item-info > span:nth-child(3) {
  opacity: 0;
  visibility: hidden;
}
.sliderTypeTwo__item-heart > span {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
}
.sliderTypeTwo__item-heart {
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
  right: 0;
  margin: 0.5em;
  padding: 0.25em;
  font-size: 1.5rem;
  font-weight: 900;
}
.sliderTypeTwo__item:hover .sliderTypeTwo__item-heart {
  opacity: 1;
  visibility: visible;
}
.sliderTypeTwo__item-heart:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 50%;
}
.sliderTypeTwo__item-heart:hover > span {
  animation: 1000ms linear growHeart infinite;
}
.sliderTypeTwo__counter {
  right: 20px;
  font-size: 1.2rem;
  top: calc((45px - 1.2rem) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: rgba(200, 200, 200, 0.9);
  font-weight: bold;
  cursor: default;
}
.sliderTypeTwo__counter > span:first-child,
.sliderTypeTwo__counter > span:last-child {
  margin-top: 0.25em;
  cursor: pointer;
  margin-right: 0.25em;
  margin-left: 0.25em;
}
.sliderTypeTwo__counter-opacity {
  color: rgba(200, 200, 200, 0.5);
  cursor: default !important;
}
.sliderTypeTwo__item-info > span:last-child {
  display: flex;
  margin-top: 1em;
  top: 33px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms cubic-bezier(1, 0.01, 0.7, 1);
}
.sliderTypeTwo__tags {
  position: absolute;
  width: 100%;
  bottom: 15px;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.sliderTypeTwo__tags > span {
  background-color: white;
  width: auto;
  font-size: 0.7rem;
  color: black;
  padding: 0.3em 0.75em 0.3em 0.75em;
  z-index: 2;
  border-top-right-radius: 0.125em;
  border-bottom-right-radius: 0.125em;
  margin-top: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.sliderTypeTwo__tags-special {
  background-color: red !important;
  color: white !important;
}
.sliderTypeTwo__item-slide-Right {
  animation: 700ms ease-in-out slideRightSecond forwards;
}
.sliderTypeTwo__item-slide-Left {
  animation: 700ms ease-in-out slideLeftSecond forwards;
}
.sliderTypeTwo__item-slide-Right-notfull {
  animation: 700ms ease-in-out slideRightSecondNotFull forwards;
}
.sliderTypeTwo__item-slide-Left-notfull {
  animation: 700ms ease-in-out slideLeftSecondNotFull forwards;
}
.sliderTypeTwo__item-info > div > span:last-child {
  text-decoration: line-through;
  color: rgb(200, 200, 200);
}
.sliderTypeTwo__item-info > div > span:first-child {
  color: red;
}
@keyframes fadeOut {
  0% {
    display: flex;
  }
  100% {
    display: none;
  }
}
@keyframes growHeart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slideRightSecond {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300% - 1.5em));
  }
}
@keyframes slideLeftSecond {
  0% {
    transform: translateX(calc(-300% - 1.5em));
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRightSecondNotFull {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200% - 1.5em));
  }
}
@keyframes slideLeftSecondNotFull {
  0% {
    transform: translateX(calc(-200% - 1.5em));
  }
  100% {
    transform: translateX(0);
  }
}
