.checkoutBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 2em 0 2em 0;
  flex-direction: column;
  min-width: 350px;
}
.checkoutBody__items {
  display: flex;
  flex-direction: row;
}
.checkoutBody__items > div {
  margin: 0 2em 0 2em;
}
@media screen and (max-width: 1000px){
  .checkoutBody__items {
    flex-direction: column;
  }
}
