.headerAdd {
  background-color: #4044ed;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  flex-shrink: 0;
  min-width: 800px;
}
.headerAdd__text {
  font-weight: 400;
  color: white;
  margin-right: 13px;
  line-height: 13px;
  font-size: 13px;
}
.headerAdd__button {
  width: 350px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 1px solid #7c2ea7;
}
.headerAdd__button > div {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 5px;
  font-size: 13px;
  text-align: center;
  width: 100%;
  height: 100%;
  font-weight: 600;
  color: rgb(24, 24, 24);
}
.headerAdd__button-text {
  flex: 0.4;
  background-color: #e8e8e8;
  letter-spacing: 0.1em;
  border-right: 1px solid #EEA1A1;
  position: relative;
}
.headerAdd__button-text::after {
    position: absolute;
    bottom: 7.5px;
    left: 100%;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #e8e8e8;
}
.headerAdd__button-code {
  flex: 0.6;
  background-color: white;
  letter-spacing: 0.05em;
}