.header {
  width: 100%;
  height: 125px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-width: 768px;
}
.header__top {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 12.5px;
}
.header__top > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.header__top-selections {
  margin-left: 60px;
}
.header__top-selections > div {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-right: 1.25em;
  cursor: pointer;
}
.header__top-selection-special {
  color: rgb(24, 24, 24);
}
.header__top-selection:not(.header__top-selection-special) {
  color: rgb(204, 204, 204);
}
.header__top-selection:not(.header__top-selection-special):hover {
  color: rgb(150, 150, 150);
}
.header__top-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25em;
}
.header__top-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  cursor: pointer;
}
.header__top-logo-about {
  font-size: 30px;
  color: white;
  border-right: 2px solid white;
  padding: 0 0.1em 0 0.1em;
  font-family: "Franklin Gothic Medium";
}
.header__top-logo-you-text {
  font-size: 30px;
  color: white;
  padding: 0.025em 0.1em 0.025em 0.1em;
  font-family: "Franklin Gothic Medium";
}
.header__top-logo-you > img {
  width: 12.5px;
  object-fit: contain;
  object-position: 50% 50%;
  margin-bottom: 8px;
  padding-right: 0.05em;
  margin-left: 0.05em;
}
.header__top-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5vw;
}
.header__top-option:not(.header__top-option-not) {
  margin-right: 0.5em;
  padding: 0.25em;
}
.header__top-option {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  position: relative;
}
.header__top-option-not {
  cursor: default;
}
.header__top-option-not-anim::after {
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  padding-bottom: 7.5px;
  border-bottom: 1px solid transparent;
  position: absolute;
  content: "";
  animation: 200ms ease-in-out doBorderAnim forwards;
}
.header__top-option:not(.header__top-option-not):hover {
  background-color: #f2f2f2;
}
.header__top-option-special {
  background-color: #f2f2f2;
  border: 1px solid transparent;
  font-size: 16px;
  transition: all 300ms ease-in;
  padding: 8px 0.75em 8px 0.75em;
}
.header__top-option-lang {
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  border: 1px solid black;
  position: relative;
  font-weight: 600;
  padding: 0.25em;
  text-align: center;
  margin-left: 0.5em;
}
.header__top-option:hover::before {
  display: flex;
}
.header__top-option::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 105%;
  background-color: transparent;
  top: 95%;
  display: none;
}
.header__top-option:hover > .header__top-option-pop-up {
  display: flex;
}
.header__top-option::before:hover > .header__top-option-pop-up {
  display: flex;
}
.header__top-option-pop-up:hover {
  display: flex;
}
.header__top-option-special:hover {
  border: 1px solid black;
}
.header__bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 120px;
}
.header__bottom > div {
  margin-right: 40px;
  font-size: 14px;
  cursor: pointer;
}
.header__bottom > div:not(.header__bottom-option) {
  color: rgb(24, 24, 24);
}
.header__bottom-option-special {
  color: rgb(237, 72, 55);
}
.header__bottom-option:hover {
  color: rgb(179, 179, 179);
}
.header__top-option-search {
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
  display: flex;
  justify-content: flex-start;
  margin-right: 0.5em;
  align-items: center;
  height: 100%;
  width: 300px;
  margin-left: 2em;
}
.header__top-option-search > form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header__top-option-search input {
  border: none;
  outline: none;
  width: 250px;
  height: 100%;
  z-index: 4;
}
.header__top-option-search-anim {
  opacity: 1;
  visibility: visible;
}
.header__top-option-search-icon {
  position: absolute;
  right: 0;
  top: -5px;
}
.header__top-option-search-icon {
  margin-right: 0.5em;
  cursor: pointer;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0.25em;
  transition: all 200ms ease-in-out;
  z-index: 5;
}
.header__top-option-search-icon:not(.header__top-option-search-icon-anim):hover {
  background-color: #f2f2f2;
}
.header__top-option-search-icon-anim {
  right: 310px;
  cursor: pointer;
}
.header__top-option-pop-up {
  position: absolute;
  z-index: 5;
  top: 50px;
  right: 0;
  background-color: white;
  display: none;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.17);
}
.header__top-option-pop-up-lang {
  width: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em 0.5em 0.5em 0.5em;
  cursor: pointer;
}
.header__top-option-pop-up-lang-text {
  display: flex;
  justify-self: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  margin-left: 2.75em;
}
.header__top-option-pop-up-lang-text > span {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.header__top-option-pop-up-lang-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header__top-option-pop-up-lang-btns > button {
  flex: 0.4;
  border: 1px solid transparent;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 500ms ease-in;
  background-color: white;
  padding: 0.5em 1em 0.5em 1em;
}
.header__top-option-pop-up-lang-btn-selected {
  border: 1px solid black !important;
}
.header__top-option-pop-up-lang-btns > button:first-child {
  margin-right: 0.5em;
}
.header__top-option-pop-up-lang-btns
  > button:not(.header__top-option-pop-up-lang-btn-selected):hover {
  border: 1px solid rgb(100, 100, 100);
}
.header__top-option-pop-up-lang-select {
  margin-top: 1em;
  padding: 12px 20px 12px 20px;
  border: 1px solid rgb(179, 179, 179);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__top-option-pop-up-lang-select:not(.header__top-option-pop-up-lang-select
    > span:nth-child(2)
    > span:nth-child(3)) {
  font-size: 14px;
}
.header__top-option-pop-up-lang-select-shop {
  margin-right: 20px;
}
.header__top-option-pop-up-lang-select > span {
  height: 100%;
  display: flex;
  align-items: center;
}
.header__top-option-pop-up-lang-select > span:nth-child(2) > span:nth-child(1) {
  margin-top: 5px;
}
.header__top-option-pop-up-lang-select > span:nth-child(2) > span:nth-child(3) {
  margin-right: -5px;
  margin-top: 5px;
}
.header__top-option-pop-up-lang-select {
  transition: all 500ms ease-in;
}
.header__top-option-pop-up-lang-select:hover {
  border: 1px solid black;
}
.header__top-option-pop-up-lang-selections {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  animation: 200ms ease-in-out slideLanguageSelectorOut forwards;
}
.header__top-option-pop-up-lang-selections-first-time {
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.header__top-option-pop-up-lang-selections-shown {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  animation: 200ms ease-in-out slideLanguageSelectorIn forwards;
}
.header__top-option-pop-up-lang-selection {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  flex-direction: row-reverse;
  margin: 0 0.5em 0 0.5em;
  padding: 0.5em;
  transition: all 200ms ease-out;
}
.header__top-option-pop-up-lang-selection:not(:last-child) {
  border-bottom: 1px solid rgb(179, 179, 179);
}
.header__top-option-pop-up-lang-selection:last-child {
  border-bottom: 1px solid transparent;
}
.header__top-option-pop-up-lang-selection:hover {
  background-color: rgb(240, 240, 240);
}
.header__top-option-pop-up-lang-selection:first-child {
  margin-top: 1em;
}
.header__top-option-pop-up-lang-selection-selected,
.header__top-option-pop-up-lang-selection-unselected {
  font-size: 13px;
}
.header__top-option-pop-up-lang-selection > img {
  width: 20px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 25px;
}
.header__top-option-pop-up-lang-selection-worldwide {
  width: 20px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 25px;
  padding-left: 3px;
}
.header__top-option-pop-up-lang-selection-selected {
  font-weight: 700;
  font-size: 13px;
}
.header__top-option-pop-up-lang-selection-mark {
  margin-left: 100px;
  display: flex;
  align-items: center;
}
.header__top-option-pop-up-user {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: default;
  width: 400px;
}
.header__top-option-pop-up-user-text {
  font-size: 20px;
  font-weight: 1000;
  margin: 1.5em 1.5em 0.5em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__top-option-pop-up-user-btn {
  border: none;
  padding: 1em 10em 1em 10em;
  margin: 0.5em 0 0.5em 0;
  font-size: 14px;
  font-weight: 600;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms ease-out;
}
.header__top-option-pop-up-user-border {
  width: 100%;
  height: 1px;
  background-color: rgb(240, 240, 240);
  margin: 0.5em 0 0 0;
}
.header__top-option-pop-up-user-btn:hover {
  transform: translateY(-5%);
}
.header__top-option-pop-up-user-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.header__top-option-pop-up-user-option {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 1em 0;
}
.header__top-option-pop-up-user-option-text {
  font-size: 14px;
  font-weight: 600;
}
.header__top-option-pop-up-user-option-icon {
  font-size: 30px;
  transform: translateY(10%);
  margin-right: 5px;
}
.header__top-option-pop-up-fav {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: default;
  width: 250px;
}
.header__top-option-pop-up-fav-text {
  font-weight: 800;
  font-size: 14px;
  margin: 0.75em 0 0.75em 0;
}
.header__top-option-pop-up-fav-border {
  height: 1px;
  width: 80%;
  background-color: rgb(240, 240, 240);
}
.header__top-option-pop-up-fav-text2 {
  font-size: 13px;
  color: rgb(50, 50, 50);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1.5em 0 1.5em 0;
}
.header__top-option-pop-up-fav-heart {
  font-weight: 1200;
  font-size: 22.5px;
  display: inline-block;
  transform: translateY(25%);
  justify-content: center;
  align-items: center;
}
.header__top-option-pop-up-fav::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  border: 1px solid transparent;
  top: 100%;
}
.header__top-option-pop-up-wishlist {
  top: 185px;
  width: 250px;
  justify-content: center;
  align-items: center;
  cursor: default;
}
.header__top-option-pop-up-wishlist > button {
  margin: 10px;
  width: 230px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: 700;
  padding: 0.8em 0 0.8em 0;
  border: none;
}
.header__top-option-pop-up-basket {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: default;
  width: 250px;
}
.header__top-option-pop-up-basket-text {
  font-weight: 800;
  font-size: 14px;
  margin: 0.75em 0 0.75em 0;
}
.header__top-option-pop-up-basket-border {
  height: 1px;
  width: 80%;
  background-color: rgb(240, 240, 240);
}
.header__top-option-pop-up-basket-text2 {
  font-size: 13px;
  color: rgb(50, 50, 50);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1.5em 0 1.5em 0;
}
.header__top-option-pop-up-basket::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  border: 1px solid transparent;
  top: 100%;
}
.header__top-option-basket-second {
  top: 153.5px;
  width: 250px;
  justify-content: center;
  align-items: center;
  cursor: default;
  flex-direction: column;
}
.header__top-option-basket-second > button {
  margin: 10px;
  width: 230px;
  font-size: 13px;
  cursor: pointer;
  color: rgb(50, 50, 50);
  border: 1px solid rgb(220, 220, 220);
  background-color: white;
  font-weight: 600;
  padding: 0.8em 0 0.8em 0;
}
.header__bottom-option {
  position: relative;
}
.header__bottom-option::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 40px;
  top: 15px;
  left: -20px;
  display: none;
  cursor: default;
}
.header__bottom-option:hover::after {
  display: block;
}
.header__bottom-option:hover .header__bottom-option-pop-up {
  display: flex;
}
.header__bottom-option::after:hover .header__bottom-option-pop-up {
  display: flex;
}
.header__bottom-option-pop-up:hover {
  display: flex;
}
.header__bottom-option > span {
  position: relative;
}
.header__bottom-option-pop-up {
  background-color: white;
  position: absolute;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.17);
  z-index: 5;
  top: 55px;
  left: -20px;
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  cursor: default;
}
.header__bottom-option-pop-up::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border-top: 5px solid transparent;
  border-right: 7.5px solid transparent;
  border-left: 7.5px solid transparent;
  border-bottom: 10px solid white;
  left: 32.5px;
  top: -15px;
}
@keyframes doBorderAnim {
  0% {
    width: 0%;
    border-bottom: 1px solid transparent;
  }
  100% {
    width: 85%;
    border-bottom: 1px solid black;
  }
}
@keyframes slideLanguageSelectorIn {
  0% {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
    height: 250px;
  }
}
@keyframes slideLanguageSelectorOut {
  0% {
    height: 250px;
    opacity: 1;
    visibility: visible;
    display: flex;
  }
  100% {
    height: 0;
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}
@media screen and (max-width: 1485px) {
  .header__top-logo-you > img {
    display: none;
  }
  .header__top-logo {
    margin-left: 20em;
  }
}
@media screen and (max-width: 1237.5px) {
  .header__top-logo {
    margin-left: 10em;
  }
}
@media screen and (max-width: 990px) {
  .header__top-logo {
    margin-left: 0;
  }
}
