.header {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: var(--transitionLightMode), opacity 500ms ease-in,
    height 500ms ease-in;
  position: fixed;
  top: 0;
  z-index: 9999;
  min-width: 350px;
}
.header-close {
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.header-close * {
  pointer-events: none;
}
.header-close-finished {
  display: none !important;
}
.header-light {
  background-color: white;
}
.header-dark {
  background-color: black;
}
.header__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 50%;
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}
.header__bottom-btns {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
.header__bottom-btns > button {
  width: 30%;
  height: 100%;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-shadow: 1px 0 black;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  transition: all 150ms ease-in;
  position: relative;
}
.header__bottom-btns > button:not(.header__bottom-btns-active):hover {
  transform: translateY(-10%);
}
.header__bottom-btns-active {
  background-color: rgb(255, 174, 23);
}
.header__bottom-btns > button:not(.header__bottom-btns-active) {
  background-color: black;
  color: white;
}
.header-dark .header__bottom-btns > button:not(.header__bottom-btns-active) {
  background-color: white;
  color: black;
}
.header__bottom-btns > button:not(.header__bottom-btns-active):hover {
  transition: all 150ms ease-out;
}
.header__bottom-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.75em 0 0.75em 0;
}
.header__bottom-mode > div {
  display: flex;
  justify-content: center;
}
.header__bottom-mode > div {
  opacity: 0;
  visibility: hidden;
  transition: var(--transitionLightMode);
}
.header__bottom-mode-active > div {
  opacity: 1;
  visibility: visible;
}
.header__bottom-mode-type {
  font-size: 1.25rem;
}
.header__bottom-mode-switch {
  border-radius: 2em;
  width: 50px;
  height: 20px;
  cursor: pointer;
  position: relative;
  background-color: white;
  transition: var(--transitionLightMode);
}
.header__bottom-mode > div:first-child {
  width: calc(50% - 100px);
}
.header__bottom-mode > div:last-child {
  display: flex;
  align-items: center;
  width: calc(50% + 100px);
}
.header__bottom-mode-switch-light {
  border: 2px solid rgb(200, 200, 200);
}
.header__bottom-mode-switch-dark {
  border: 2px solid transparent;
}
.header__bottom-mode-switch-light:hover {
  border: 2px solid black;
}
.header__bottom-mode > div > img {
  height: 35px;
  width: 35px;
  object-fit: cover;
  cursor: pointer;
  margin: 0 1.5em 0 1.5em;
  user-select: none;
}
.header__bottom-mode > img:last-child {
  height: 30px;
  width: 30px;
}
.header__bottom-mode-switch::before {
  position: absolute;
  content: "";
  top: -2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  left: -2px;
  background-color: rgb(226, 250, 11);
}
.header__bottom-mode-switch-dark::before {
  animation: 150ms ease-out slideTheSliderDark forwards;
}
.header__bottom-mode-switch-light::before {
  animation: 150ms ease-out slideTheSliderLight forwards;
}
.header__top-logo {
  height: 100%;
}
.header__dropdown {
  position: absolute;
  right: 50px;
  margin-top: 1.5em;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.header__dropdown > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transitionLightMode);
}
.header__dropdown-active > img {
  transform: rotate(180deg) translateY(0px) translateX(0px);
}
.header__input {
  position: absolute;
  left: 35px;
  margin-top: calc(4em + 40px);
}
.header__progress {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: rgb(240, 200, 200);
  bottom: 0;
}
.header__progress-amount {
  height: 100%;
  width: 0%;
}
.header-light .header__progress-amount {
  background-color: rgb(100, 200, 100);
}
.header-dark .header__progress-amount {
  background-color: rgb(255, 174, 23);
}
@keyframes slideTheSliderDark {
  0% {
    left: -2px;
    background-color: rgb(226, 250, 11);
  }
  100% {
    left: calc(100% - 18px);
    background-color: black;
  }
}
@keyframes slideTheSliderLight {
  0% {
    left: calc(100% - 18px);
  }
  100% {
    left: -2px;
  }
}

@media screen and (max-width: 1600px) {
  .header__dropdown {
    right: 25px;
  }
}
@media screen and (max-width: 1237.5px) {
  .header__dropdown {
    right: 15px;
  }
}
@media screen and (max-width: 1100px) {
  .header__dropdown {
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  .header__bottom-btns > button {
    min-width: 30px;
    min-height: 30px;
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 600px) {
  .header__bottom-btns > button {
    font-size: 0.75rem;
    padding: 0;
    margin: 0;
    width: 33.333%;
  }
  .header__bottom-btns {
    width: 80%;
  }
}
@media screen and (max-height: 800px) {
  .header-close {
    height: 0 !important;
  }
}
@media screen and (max-height: 480px) and (max-width: 600px) {
  .header__dropdown > img {
    transform: translateY(5px) translateX(-5px);
  }
  .header__dropdown-active > img {
    transform: rotate(180deg) translateY(-5px) translateX(10px);
  }
  .header__dropdown::before {
    width: 15px;
    height: 15px;
    margin-top: 1.2em;
  }
}
@media screen and (max-height: 480px) {
  .header__top {
    display: none;
  }
  .header__bottom-btns {
    margin-top: 1.25em;
  }
}
