.header {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: var(--transitionLightMode), opacity 500ms ease-in, height;
  position: fixed;
  top: 0;
  z-index: 9999;
  min-width: 350px;
}
.header:not(.header-close){
  height: 250px;
}
.header-close {
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.header-close * {
  pointer-events: none;
}
.header-close-finished {
  display: none!important;
}
.header-light {
  background-color: white;
  border-bottom: 2px solid rgb(100,200,100);
}
.header-dark {
  background-color: black;
  border-bottom: 2px solid rgb(255,174,23);
}
.header__top {
  height: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 12.5px;
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 2em;
}
.header__bottom-btns {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
.header__bottom-btns > button {
  width: 30%;
  height: 100%;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-shadow: 1px 0 black;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  transition: all 150ms ease-in;
  position: relative;
}
.header__bottom-btns > button:not(.header__bottom-btns-active):hover{
  transform: translateY(-10%);
}
.header__bottom-btns-active {
  background-color: rgb(255, 174, 23);
}
.header__bottom-btns > button:not(.header__bottom-btns-active) {
  background-color: black;
  color: white;
}
.header-dark .header__bottom-btns > button:not(.header__bottom-btns-active) {
  background-color: white;
  color: black;
}
.header__bottom-btns > button:not(.header__bottom-btns-active):hover {
  transition: all 150ms ease-out;
}
.header__bottom-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  width: 100%;
}
.header__bottom-mode > div:last-child {
  opacity: 0;
  visibility: hidden;
  transition: var(--transitionLightMode);
}
.header__bottom-mode-active > div:last-child {
  opacity: 1;
  visibility: visible;
}
.header__bottom-mode-type {
  font-size: 1.25rem;
}
.header__bottom-mode-switch {
  border-radius: 2em;
  width: 50px;
  height: 20px;
  cursor: pointer;
  position: relative;
  background-color: white;
  transition: var(--transitionLightMode);
}
.header__bottom-mode > div:first-child {
  width: calc(50% - 100px);
}
.header__bottom-mode > div:last-child {
  display: flex;
  align-items: center;
  width: calc(50% + 100px);
}
.header__bottom-mode-switch-light {
  border: 2px solid rgb(200, 200, 200);
}
.header__bottom-mode-switch-dark {
  border: 2px solid transparent;
}
.header__bottom-mode-switch-light:hover {
  border: 2px solid black;
}
.header__bottom-mode > div > img {
  height: 35px;
  width: 35px;
  object-fit: cover;
  cursor: pointer;
  margin: 0 1.5em 0 1.5em;
  user-select: none;
}
.header__bottom-mode > img:last-child {
  height: 30px;
  width: 30px;
}
.header__bottom-mode-switch::before {
  position: absolute;
  content: "";
  top: -2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  left: -2px;
  background-color: rgb(226, 250, 11);
}
.header__bottom-mode-switch-dark::before {
  animation: 150ms ease-out slideTheSliderDark forwards;
}
.header__bottom-mode-switch-light::before {
  animation: 150ms ease-out slideTheSliderLight forwards;
}
.header__bottom-input {
  display: flex;
  align-items: center;
  position: relative;
}
.header__bottom-input > span {
  font-size: 1.35rem;
  position: absolute;
  left: 15%;
  cursor: pointer;
  z-index: 5;
  bottom: -17.5px;
  transition: all 300ms ease-in;
}
.header-dark .header__bottom-input > span {
  color: white;
}
.header__bottom-input-clicked > span {
  left: calc(15% + 300px);
}

.header__bottom-input > input {
  outline: none;
  width: 0;
  left: 15%;
  position: absolute;
  font-size: 1.15rem;
  padding-right: 0;
  border: none;
  border-bottom: 1px solid black;
  transition: all 300ms ease-in;
  background-color: transparent;
}
.header__bottom-input > input::placeholder {
  font-size: 0.75rem;
  font-weight: 900;
}
.header-dark .header__bottom-input > input {
  border-bottom: 1px solid white;
  color: white;
}
.header__bottom-input-clicked > input {
  left: 15%;
  width: 285px;
  padding-right: 40px;
}
.header__top {
  display: flex;
  justify-content: center;
}
.header__top-logo {
  margin-top: 4.5em;
}
.header__dropdown {
  position: absolute;
  right: 50px;
  margin-top: 1.5em;
  cursor: pointer;
}
.header__dropdown::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  right: 10px;
  margin-top: 0.8em;
  transition: var(--transitionLightMode);
}
.header-dark .header__dropdown::before {
  border: 3px solid white;
}
.header-light .header__dropdown::before {
  border: 3px solid black;
}
.header__dropdown > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  transition: var(--transitionLightMode);
}
.header__dropdown-active > img {
  transform: rotate(180deg) translateY(0px) translateX(0px);
}
.header__input {
  position: absolute;
  left: 35px;
  margin-top: calc(4em + 40px);
}
@keyframes slideTheSliderDark {
  0% {
    left: -2px;
    background-color: rgb(226, 250, 11);
  }
  100% {
    left: calc(100% - 18px);
    background-color: black;
  }
}
@keyframes slideTheSliderLight {
  0% {
    left: calc(100% - 18px);
  }
  100% {
    left: -2px;
  }
}

@media screen and (max-width: 1600px){
  .header__dropdown {
    right: 25px;
  }
}
@media screen and (max-width: 1237.5px) {
  .header__bottom-input-clicked > input {
    left: 15%;
    
  }
  .header__dropdown {
    right: 15px;
  }
  .header__bottom-input-clicked > span {
    left: calc(15% + 300px);
  }
}
@media screen and (max-width: 1100px) {
  .header__bottom-input-clicked > input {
    width: 200px;
    left: 15%;
  }
  .header__dropdown {
    right: 0;
  }
  .header__bottom-input-clicked > span {
    left: calc(15% + 215px);
  }
}
@media screen and (max-width: 768px) {
  .header__bottom-btns > button {
    min-width: 30px;
    min-height: 30px;
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 600px){
  .header__bottom-btns > button {
    font-size: 0.75rem;
    padding: 0;
    margin: 0;
    width: 33.333%;
  }
  .header__bottom-btns {
    width: 80%;
  }
}
@media screen and (max-height: 480px) {
  .header:not(.header-close) {
    height: 100px;
  }
  .header-close {
    height: 0!important;
  }
  .header__top {
    display: none;
  }
  .header__bottom {
    max-height: 100px;
  }
  .header__bottom-btns {
    margin-top: 30px;
  }
  .header__bottom-mode {
    margin-top: 1em;
  }
  .header__dropdown {
    margin-top: 0;
  }
}
@media screen and (max-height: 480px) and (max-width: 600px){
  .header__dropdown > img {
    height: 40px;
    width: 20px;
    transform: translateY(5px) translateX(-10px);
  }
  .header__dropdown-active > img {
    transform: rotate(180deg) translateY(-5px) translateX(10px);
  }
  .header__dropdown::before {
    width: 15px;
    height: 15px;
    margin-top: 1.2em;
  }
}