:root {
  --btnHeight: 105px;
  --btnWidth: 30px;
  --btnWithExtended: 45px;
}
.slider {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  max-width: 100vw;
  width: 100vw;
  height: auto;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  min-width: 350px;
}
.slider__slide {
  position: relative;
  height: 600px;
}
.slider__slide > img {
  width: 100vw;
  min-height: 600px;
  max-height: 600px;
  overflow: hidden;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
  min-width: 350px;
}
.slider > button {
  position: absolute;
  height: var(--btnHeight);
  width: var(--btnWidth);
  top: calc(50% + var(--btnHeight) / 2);
  transform: translateY(calc(-50% - var(--btnHeight) / 2));
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transitionLightMode);
}
.slider-light > button {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}
.slider-dark > button {
  background-color: rgba(255, 174, 23, 0.7);
  color: white;
}
.slider__prev {
  left: 0;
}
.slider__next {
  right: 0;
}
.slider:not(.slider-mobile) > button:hover {
  width: var(--btnWithExtended);
}
.slider-mobile > button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  z-index: 1;
}
.slider-light > button::before {
  background-color: rgba(255, 255, 255, 0.9);
}
.slider-dark > button::before {
  background-color: rgba(255, 174, 23, 0.9);
}
.slider-mobile .slider-btn-animated-mobile::before {
  animation: 250ms ease-in doButtonMobileAnimation;
}
.slider__info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 0;
  left: 5%;
  overflow: hidden;
  transition: var(--transitionLightMode);
  width: 100%;
  height: 600px;
}
.slider__info > span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.slider-dark .slider__info > span{
  color: rgb(255, 174, 23);
}
.slider-light .slider__info >span {
  color: white;
}
.slider__info > span:first-child {
  font-size: 1.3rem;
  margin-top: 250px;
}
.slider__info > span:nth-child(2) {
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 3px;
}
.slider__info > button {
  width: 120px;
  height: 40px;
  margin-top: 0.5em;
  font-size: 1.15rem;
  cursor: pointer;
  transition: var(--transitionLightMode);
}
.slider-light .slider__info > button {
  background-color: white;
  border: 1px solid rgba(240, 240, 240, 0.7);
  color: black;
}
.slider-dark .slider__info > button {
  background-color: rgb(255, 174, 23);
  border: 1px solid rgba(255, 174, 23, 0.7);
  color: white;
}
.slider__dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: calc(100% - 50px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.slider__dots > div {
  margin: 0.25em 0.5em 0.25em 0.5em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transitionLightMode);
}
.slider-light .slider__dots > div:not(.slider__dots-active) {
  background-color: rgba(240, 240, 240, 0.7);
}
.slider-dark .slider__dots > div:not(.slider__dots-active) {
  background-color: rgba(240, 240, 240, 0.7);
}
.slider-light .slider__dots > div:hover,
.slider-light .slider__dots-active {
  background-color: white;
}
.slider-dark .slider__dots > div:hover,
.slider-dark .slider__dots-active {
  background-color: rgb(255, 174, 23);
}
.slider__slide-anim-forwards {
  animation: 500ms ease-in transformRight forwards;
}
.slider__slide-anim-backwards {
  animation: 500ms ease-in transformLeft forwards;
}
.slider__slide-anim-backwards-initial {
  animation: ease-in transformLeftInitial forwards;
}
@keyframes transformLeftInitial {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes transformLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes transformRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes doButtonMobileAnimation {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@media screen and (max-width: 768px) , (max-height: 768px){
  .slider > button:hover {
    width: var(--btnWidth);
  }
  .slider__info  {
    top: 0;
    left: 0;
  }
  .slider__info  > span , .slider__info > button{
    position: absolute;
  }
  .slider__info > span {
    align-self: center;
  }
  .slider__info > span:first-child {
    font-size: 1.3rem;
    top: -100px;
  }
  .slider__info > span:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 3px;
   bottom: 350px;
  }
  .slider__info > button {
    width: 300px;
    justify-self: center;
    align-self: center;
    height: 40px;
    bottom: 75px;
    font-size: 1.15rem;
    cursor: pointer;
    transition: var(--transitionLightMode);
  }
}
@media screen and (max-width: 480px){
  .slider .slider__slide {
    height: 300px;
  }
  .slider .slider__slide > img {
    min-height: 300px;
    max-height: 300px;
  }
  .slider__info {
    height: 300px;
  }
  .slider__info > span:nth-child(1){
    top: -200px;
  }
  .slider__info > span:nth-child(2){
    bottom: 250px;
  }
}
@media screen and (max-height: 480px) and (max-width: 960px){
  .slider .slider__slide {
    height: 200px;
  }
  .slider .slider__slide > img {
    min-height: 200px;
    max-height: 200px;
  }
  .slider__info {
    height: 200px;
  }
  .slider__info > span:nth-child(1), .slider__info > span:nth-child(2){
    display: none;
  }
}