:root {
  --btnHeight: 105px;
  --btnWidth: 30px;
  --btnWithExtended: 45px;
}
.slider {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  display: flex;
  min-width: 768px;
  position: relative;
  overflow: hidden;
  transform: translateX(var(--trackbarWidthTransform));
}
.slider__slide {
  display: block;
  height: 650px;
  max-height: 60vh;
  min-width: 100vw;
  position: relative;
}
.slider__slide > img {
  max-height: 650px;
  width: auto;
  min-width: 100vw;
  object-fit: cover;
}
.slider > button {
  position: absolute;
  height: var(--btnHeight);
  width: var(--btnWidth);
  top: calc(50% + var(--btnHeight) / 2);
  transform: translateY(calc(-50% - var(--btnHeight) / 2));
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transitionLightMode);
}
.slider-light > button {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}
.slider-dark > button {
  background-color: rgba(255, 174, 23, 0.7);
  color: white;
}
.slider__prev {
  left: var(--trackbarWidth);
}
.slider__next {
  right: 0;
}
.slider > button:hover {
  width: var(--btnWithExtended);
}
.slider__info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 70%;
  left: 5%;
  min-width: 450px;
  transition: var(--transitionLightMode);
}
.slider-dark .slider__info {
  color: rgb(255, 174, 23);
}
.slider-light .slider__info {
  color: white;
}
.slider__info > span:first-child {
  font-size: 1.3rem;
}
.slider__info > span:nth-child(2) {
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 3px;
}
.slider__info > button {
  width: 120px;
  height: 40px;
  margin-top: 0.5em;
  font-size: 1.15rem;
  cursor: pointer;
  transition: var(--transitionLightMode);
}
.slider-light .slider__info > button {
  background-color: white;
  border: 1px solid rgba(240, 240, 240, 0.7);
  color: black;
}
.slider-dark .slider__info > button {
  background-color: rgb(255, 174, 23);
  border: 1px solid rgba(255, 174, 23, 0.7);
  color: white;
}
.slider__dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: calc(100% - 50px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.slider__dots > div {
  margin: 0.25em 0.5em 0.25em 0.5em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transitionLightMode);
}
.slider-light .slider__dots > div:not(.slider__dots-active) {
  background-color: rgba(240, 240, 240, 0.7);
}
.slider-dark .slider__dots > div:not(.slider__dots-active) {
  background-color: rgba(240, 240, 240, 0.7);
}
.slider-light .slider__dots > div:hover,
.slider-light .slider__dots-active {
  background-color: white;
}
.slider-dark .slider__dots > div:hover,
.slider-dark .slider__dots-active {
  background-color: rgb(255, 174, 23);
}
.slider__slide-anim-forwards {
  animation: 500ms ease-in transformRight forwards;
}
.slider__slide-anim-backwards {
  animation: 500ms ease-in transformLeft forwards;
}
.slider__slide-anim-backwards-initial {
  animation: ease-in transformLeftInitial forwards;
}
@keyframes transformLeftInitial {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes transformLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes transformRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 2970px) {
  .slider__info {
    top: 60%;
  }
}
@media screen and (max-width: 3960px) {
  .slider__info {
    top: 50%;
  }
}
