:root {
  --btnHeight: 105px;
  --btnWidth: 30px;
}
.slider {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  max-width: 100vw;
  height: auto;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  min-width: 768px;
}
.slide {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 100%;
  max-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}
.slide > img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  cursor: pointer;
}
.slide__anim1 {
  -webkit-animation: 500ms ease-in-out anim1 forwards;
  animation: 500ms ease-in-out anim1 forwards;
}
.slide__anim2 {
  -webkit-animation: 500ms ease-in-out anim2 forwards;
  animation: 500ms ease-in-out anim2 forwards;
}

.slide__anim3 {
  -webkit-animation: 500ms ease-in-out anim3 forwards;
  animation: 500ms ease-in-out anim3 forwards;
}

.slide__anim4 {
  -webkit-animation: 500ms ease-in-out anim4 forwards;
  animation: 500ms ease-in-out anim4 forwards;
}

.slide__anim5 {
  -webkit-animation: 500ms ease-in-out anim5 forwards;
  animation: 500ms ease-in-out anim5 forwards;
}
.slide__anim1-backwards {
  animation: 500ms ease-in-out anim1-backwards forwards;
}
.slide__anim2-backwards {
  animation: 500ms ease-in-out anim2-backwards forwards;
}
.slide__anim3-backwards {
  animation: 500ms ease-in-out anim3-backwards forwards;
}
.slide__anim4-backwards {
  animation: 500ms ease-in-out anim4-backwards forwards;
}
.slide__anim5-backwards {
  animation: 500ms ease-in-out anim5-backwards forwards;
}
@-webkit-keyframes anim1 {
  0% {
    transfrom: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes anim1 {
  0% {
    transfrom: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes anim2 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}
@keyframes anim2 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}
@-webkit-keyframes anim3 {
  0% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
  }
}
@keyframes anim3 {
  0% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
  }
}
@-webkit-keyframes anim4 {
  0% {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(-400%);
    transform: translateX(-400%);
  }
}
@keyframes anim4 {
  0% {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(-400%);
    transform: translateX(-400%);
  }
}
@-webkit-keyframes anim5 {
  0% {
    -webkit-transform: translateX(-400%);
    transform: translateX(-400%);
  }
  100% {
    -webkit-transform: translateX(-500%);
    transform: translateX(-500%);
  }
}
@keyframes anim5 {
  0% {
    -webkit-transform: translateX(-400%);
    transform: translateX(-400%);
  }
  100% {
    -webkit-transform: translateX(-500%);
    transform: translateX(-500%);
  }
}
.slider > button {
  position: absolute;
  top: calc(50% + var(--btnHeight) / 2);
  -webkit-transform: translateY(calc(-50% - var(--btnHeight) / 2));
  -ms-transform: translateY(calc(-50% - var(--btnHeight) / 2));
  transform: translateY(calc(-50% - var(--btnHeight) / 2));
  height: var(--btnHeight);
  width: var(--btnWidth);
  border: none;
  cursor: pointer;
  -webkit-transition: width 100ms ease-out;
  -o-transition: width 100ms ease-out;
  transition: width 100ms ease-out;
  background-color: rgba(250, 250, 250, 0.7);
}
.slide__prev:hover {
  width: 45px;
}
.slide__next:hover {
  width: 45px;
}
.slider > button > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
}
.slide__prev {
  left: 0;
}
.slide__next {
  right: 0.8vw;
}
.slider__dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: calc(100% - 50px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.slider__dots > div {
  margin: 0.25em 0.5em 0.25em 0.5em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.slider__dots > div:not(.slider__dots-active) {
  background-color: rgba(240, 240, 240, 0.7);
}
.slider__dots-active {
  background-color: white;
}
.slider__dots > div:hover {
  background-color: white;
}
.slider__info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 70%;
  left: 5%;
  color: white;
}
.slider__info > span:first-child {
  font-size: 1.3rem;
}
.slider__info > span:nth-child(2) {
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 3px;
}
.slider__info > button {
  width: 120px;
  height: 40px;
  margin-top: 0.5em;
  border: 1px solid rgba(240, 240, 240, 0.7);
  font-size: 1.15rem;
  cursor: pointer;
  background-color: white;
}
@media screen and (max-width: 1320px) {
  .slider__info {
    top: 60%;
  }
}
@media screen and (max-width: 792px) {
  .slider__info {
    top: 40%;
  }
}
