.firstFooter {
  background-color: #ffe899;
  height: 65px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.firstFooter > footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  height: 100%;
  cursor: pointer;
}
.firstFooter__option {
  margin: 0 1em 0 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.firstFooter__option > span:first-child {
  font-size: 1.25rem;
  height: 100%;
  margin-right: 0.25em;
  margin-bottom: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .firstFooter > footer {
    flex-wrap: wrap;
  }
  .firstFooter__option {
    height: 50%;
    width: 50%;
    margin: 0;
    justify-content: center;
  }
  .firstFooter__option > span:last-child {
    flex:.8;
    margin-left: 20px;
  }
}
@media screen and (max-width: 520px){
  .firstFooter__option > span:last-child {
    flex: 1;
    margin-left: 0;
  }
}
@media screen and (max-width: 400px){
  .firstFooter {
    height: auto;
  }
  .firstFooter__option {
    height: 25%;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
  }
  .firstFooter__option > span:last-child {
    flex:.5;
  }
  .firstFooter__option > span:first-child {
    flex: .1;
  }
}