.checkoutBodyBasketTotal {
  padding: 2em;
  background-color: white;
  margin: 2em 0 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.checkoutBodyBasketTotal__upper,
.checkoutBodyBasketTotal__lower {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5em;
}
.checkoutBodyBasketTotal__upper {
  border-bottom: 1px solid rgb(200, 200, 200);
}
.checkoutBodyBasketTotal__upper > h5 {
    color: rgb(100,100,100);
}
.checkoutBodyBasketTotal__lower > div{
display: flex;
flex-direction: column;
}
.checkoutBodyBasketTotal__lower > div > h3:first-child {
  text-decoration: line-through;
}
.checkoutBodyBasketTotal__lower > div > :nth-child(2):not(:last-child){
  text-decoration: line-through;
}
.checkoutBodyBasketTotal__lower > div >h3:last-child {
  color: red;
}
@media screen and (max-width: 900px){
  .checkoutBodyBasketTotal {
    margin-top: 0;
  }
}
@media screen and (max-width: 800px){
  .checkoutBodyBasketTotal {
    display: none;
  }
}