.inputForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  position: relative;
}
.inputForm > input {
  background-color: #f2f2f2;
  border: 1px solid transparent;
  padding-left: 0.5em;
  outline: none;
  font-size: 1rem;
  color: black;
}
.inputForm:not(.inputForm-locked) > input:hover, .inputForm-calendar > input {
  border: 1px solid black;
}
.inputForm-locked > input {
  border: 1px solid rgb(200, 200, 200);
}
.inputForm > input:focus, .inputForm-calendar > input {
  background-color: white;
  border: 1px solid black;
}
.inputForm__focused > input {
  background-color: white;
  border: 1px solid rgb(200,200,200);
}
.inputForm-calendar > input {
  cursor: default;
}
.inputForm::before {
  content: attr(data-placeholder);
  background-color: white;
  left: 0.5em;
  font-size: 1rem;
  position: absolute;
  -webkit-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  opacity: 0;
  visibility: hidden;
}
.inputForm::before:not(.inputForm-warn::before) {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.inputForm-warn::before {
  -webkit-transform: translateY(calc(0% - 0.4rem));
  -ms-transform: translateY(calc(0% - 0.4rem));
  transform: translateY(calc(0% - 0.4rem));
}
.inputForm__span-warn {
  font-size: 0.8rem;
  margin-left: 2em;
  margin-top: 0.5em;
  color: red;
  text-align: left;
  width: 100%;
}
.inputForm__focused:not(.inputForm-locked) > input::-webkit-input-placeholder {
  opacity: 0;
}
.inputForm__focused:not(.inputForm-locked) > input::-moz-placeholder {
  opacity: 0;
}
.inputForm__focused:not(.inputForm-locked) > input:-ms-input-placeholder {
  opacity: 0;
}
.inputForm__focused:not(.inputForm-locked) > input::-ms-input-placeholder {
  opacity: 0;
}
.inputForm__focused:not(.inputForm-locked) > input::placeholder {
  opacity: 0;
}
.inputForm__focused::before {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-235%) translateX(0.75rem);
  -ms-transform: translateY(-235%) translateX(0.75rem);
  transform: translateY(-235%) translateX(0.75rem);
  font-size: 0.75rem;
}
.inputForm-locked::before, .inputForm-calendar::before {
  -webkit-transform: translateY(var(--transformVariableY)) translateX(0.75rem);
  -ms-transform: translateY(var(--transformVariableY)) translateX(0.75rem);
  transform: translateY(var(--transformVariableY)) translateX(0.75rem);
  font-size: 0.75rem;
  opacity: 1;
  visibility: visible;
}
.inputForm__focused:not(.inputForm-warn)::before {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(var(--transformVariableY)) translateX(0.75rem);
  -ms-transform: translateY(var(--transformVariableY)) translateX(0.75rem);
  transform: translateY(var(--transformVariableY)) translateX(0.75rem);
  font-size: 0.75rem;
}
.inputForm__icon-warn {
  position: absolute;
  top: calc(25% - 0.15rem);
  right: 0;
  margin: 0 0.5em 0 0;
  font-size: 1.2rem;
  color: red;
}
.inputForm__icon-delete {
  color: white;
  position: absolute;
  right: 0;
  margin: 0 0.5em 0 0;
  font-size: 1.2rem;
  background-color: rgb(200, 200, 200);
  top: calc(25% - 0.05rem);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 100ms ease-in;
}
.inputForm__icon-delete:hover {
  background-color: rgb(100, 100, 100);
  top: calc(25% - 0.1rem);
}
.inputForm-locked {
  color: rgb(200, 200, 200);
}
.inputForm-locked > input {
  color: rgb(200, 200, 200);
}
.inputForm__calendar {
  position: absolute;
  z-index: 300;
}