.inputForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.inputForm > input {
  background-color: #f2f2f2;
  border: 1px solid transparent;
  height: 100%;
  width: 100%;
  padding-left: 0.5em;
  outline: none;
  font-size: 1rem;
  color: black;
}
.inputForm > input:hover {
  border: 1px solid black;
}
.inputForm > input:focus {
  background-color: white;
  border: 1px solid black;
}
.inputForm::before {
  content: attr(data-placeholder);
  background-color: white;
  left: 0.5em;
  font-size: 1rem;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  position: absolute;
  -webkit-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  opacity: 0;
  visibility: hidden;
}
.inputForm__focused > input::-webkit-input-placeholder {
  opacity: 0;
}
.inputForm__focused > input::-moz-placeholder {
  opacity: 0;
}
.inputForm__focused > input:-ms-input-placeholder {
  opacity: 0;
}
.inputForm__focused > input::-ms-input-placeholder {
  opacity: 0;
}
.inputForm__focused > input::placeholder {
  opacity: 0;
}
.inputForm__focused::before {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-130%) translateX(0.75rem);
  -ms-transform: translateY(-130%) translateX(0.75rem);
  transform: translateY(-130%) translateX(0.75rem);
  font-size: 0.75rem;
}
