.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 150px;
  right: -400px;
  width: 400px;
  z-index: 3000;
  transition: var(--transitionLightMode), border 1ms;
  user-select: none;
  max-height: calc(100vh - 250px);
}
.menu-light:not(.menu-inactive) {
  background-color: white;
  box-shadow: -10px 10px 50px black;
  color: black;
}
.menu-dark:not(.menu-inactive) {
  background-color: rgb(100, 200, 100);
  color: white;
  box-shadow: -10px 10px 50px rgb(100, 200, 200);
}
.menu-light a {
  color: black;
}
.menu-dark button {
  color: white;
}
.menu-active {
  right: 0;
}
.menu__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: calc(100vh - 250px - 5rem - 50px);
}
.menu__option > h3 {
  font-size: 1.25rem;
  padding: 10px 0 10px 0;
  width: 100%;
  text-align: center;
  align-self: center;
  cursor: pointer;
}
.menu__option-option {
  -moz-transition: height 250ms;
  -ms-transition: height 250ms;
  -o-transition: height 250ms;
  -webkit-transition: height 250ms;
  transition: height 250ms;
  height: 0;
  overflow: hidden;
  width: 100%;
}
.menu__option-option-product:not(:last-child) {
  border-bottom: 2px solid black;
}
.menu-dark .menu__option > h3 {
  background-color: black;
  color: white;
}
.menu-light .menu__option > h3 {
  background-color: black;
  color: white;
}
.menu__option-option-wrapper > h4 {
  font-size: 1.15rem;
  padding: 10px 0 10px 0;
  text-align: center;
}
.menu__option-option-product {
  display: flex;
  flex-direction: row;
  background-color: rgb(245, 245, 245);
  padding: 10px 0 10px 0;
}
.menu__option-option-product-left {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu__option-option-product-left > h5 {
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  text-decoration: underline;
  cursor: pointer;
}
.menu__option-option-product-left > h5:hover a {
  color: rgb(200, 100, 100);
}
.menu__option-option-product-left > img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  object-position: 0 60%;
}
.menu__option-option-product-right {
  flex: 0.35;
  display: flex;
  flex-direction: column;
  font-size: 1.05rem;
  justify-content: center;
}
.menu__option-option-product-right > span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 0 5px 0;
}
.menu__option-option-product-right-btns {
  display: flex;
  flex-direction: row;
  width: 125px;
  margin: 10px 0 10px 0;
}
.menu__option-option-product-right-btns > button {
  width: calc(30% + 0.125rem);
  height: 20px;
  background-color: rgb(100, 200, 100);
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 900;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__option-option-product-right-btns > button:first-child {
  margin-right: 20px;
}
.menu__option-option-product-right-btns-remove {
  display: flex;
  width: 125px;
  display: flex;
}
.menu__option-option-product-right-btns-remove > button {
  width: 80%;
  height: 30px;
  background-color: rgb(100, 200, 100);
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 900;
  font-size: 1rem;
}
.menu__option-option-scrollber {
  position: absolute;
}
.menu__option-option-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu__option-option-user > a {
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  padding: 10px 0 10px 0;
  font-weight: 900;
}
.menu-dark .menu__option-option-user > a {
  color: black;
}
.menu__option-option-user > button {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.1rem;
  text-align: center;
  padding: 10px 0 10px 0;
  font-weight: 900;
  cursor: pointer;
}
.menu-light .menu__option-option-user > a:hover {
  color: rgb(255, 174, 23);
}
.menu-dark .menu__option-option-user > a:hover {
  color: rgb(200,100,100);
}
.menu-dark .menu__option-option-user > button:hover {
  color: rgb(200, 100, 100);
}
.menu-light .menu__option-option-user > button:hover {
  color: rgb(255, 174, 23);
}
.menu-dark .menu__option-option-product h5,
span {
  color: black;
}
.menu__option-option-language {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75px;
}
.menu__option-option-language > button {
  width: 40%;
  border: none;
  outline: none;
  cursor: pointer;
  border: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 1rem;
}
.menu__option-option-language
  > button:not(.menu__option-option-language-active) {
  background-color: transparent;
}
.menu__option-option-language-active {
  background-color: rgb(255, 174, 23);
}
.menu__option-option-language
  > button:not(.menu__option-option-language-active):hover {
  background-color: rgba(255, 174, 23, 0.5);
}
