.menuPhone {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 3000;
    transition: var(--transitionLightMode), border 1ms, top 500ms ease-in;
    position: fixed;
    min-width: 350px;
}
.menuPhone:not(.menuPhone-active) {
    right: calc(-100% - 50px);
    height: calc(100vh - 100px);
    top: 100px;
}
.menuPhone-light:not(.menu-inactive) {
    background-color: white;
  box-shadow: -10px 10px 50px black;
  color: black;
}
.menuPhone-dark:not(.menu-inactive){
    background-color: rgb(100, 200, 100);
  color: white;
  box-shadow: -10px 10px 50px rgb(100, 200, 200);
}
.menuPhone-active {
    right: 0;
    height: 100vh;
    top: 0;
}
.menuPhone__top {
    display: flex;
    width: 100%;
    min-height: 50px;
}
.menuPhone__top > button {
    flex: 0.225;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}
.menuPhone-dark .menuPhone__top > button:not(:last-child):hover {
    background-color: rgb(255,174,23);
    color: black;
}
.menuPhone-light .menuPhone__top > button:not(:last-child):hover {
    background-color: rgb(100, 200, 100);
}
.menuPhone__top > button:last-child > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    transition: var(--transitionLightMode);
}
@media screen and (min-height: 480px){
    .menuPhone:not(.menuPhone-active) {
      top: 250px;
      height: calc(100vh - 250px);
    }
}
@media screen and (max-width: 480px){
    .menuPhone__top > button {
        font-size: 1rem;
    }
}
@media screen and (max-width: 350px){
    .menuPhone {
        left: 0;
    }
}