.processingPayment {
  z-index: 1000;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
}
.processingPayment > span {
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: black;
  margin-bottom: 5em;
  text-align: center;
}
.processingPayment__finished {
    position: relative;
}
.processingPayment > div {
  margin-bottom: 200px;
}
.processingPayment > div:not(.processingPayment__finished) {
  animation: 2000ms ease-in-out rotateLoadingPayment infinite;
  font-size: 5rem;
}
.processingPayment__finished > div:not(:last-child) {
    background-color: green;
    height: 3px;
    position: relative;
}
.processingPayment__finished > div:first-child {
    transform: rotate(45deg);
    top: 28px;
    left: -9px;
    width: 30px;
}
.processingPayment__finished > div:nth-child(2) {
    transform: rotate(-45deg);
    width: 100px;
}
.processingPayment__finished > div:last-child {
    width: 300px;
    height: 200px;
    background-color: white;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    animation: 1500ms ease-in-out showCheckMarkPayment forwards;
}
@keyframes rotateLoadingPayment {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes showCheckMarkPayment {
    0% {
        right: 50%;
        transform: translateX(50%) translateY(-50%);
    }
    100% {
        right: -150%;
        transform: translateX(50%) translateY(-50%);
    }
}