.productCustom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-bottom: 50px;
  user-select: none;
  max-height: 600px;
  height: 30vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transition: var(--transitionLightMode);
  cursor: pointer;
}
.productCustom-dark {
  background-color: transparent;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}
.productCustom-light:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.productCustom-dark:hover {
  box-shadow: -10px 10px 50px rgb(100, 200, 200);
}
.productCustom__img {
  width: 100%;
  max-height: 600px;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productCustom__img > img {
  max-height: 600px;
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
  transition: all 300ms ease-in;
  pointer-events: none;
  width: 100%;
}
.productCustom > h3 {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: 900;
  width: calc(100% - 20px);
  text-align: left;
  margin: 20px 0 0 20px;
}
.productCustom-dark > h3 {
  color: white;
  text-shadow: 0.5px 0.5px rgb(200, 200, 200);
}
.productCustom-light > h3 {
  color: black;
  text-shadow: 0.5px 0.5px rgb(100, 100, 100);
}
.productCustom > h4 {
  position: absolute;
  right: 0;
  bottom: 30px;
  font-size: 1rem;
  font-weight: 900;
  color: rgb(235, 0, 0);
  margin: 0 30px 30px 0;
}
.productCustom-dark > h4 {
  bottom: 0;
}
.productCustom__customize-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1rem;
  border: none;
  background-color: orange;
  margin: 0 20px 20px 0;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}
.productCustom__customize-btn:hover {
  transform: translateY(-10%);
}
.productCustom-dark button {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
.productCustom__heart-btn {
  width: 35px;
  height: 35px;
  background-color: transparent;
  left: 0;
  margin: 0 0 10px 10px;
  border: none;
}
.productCustom__heart-btn > img {
  width: 100%;
  height: 100%;
}
.productCustom__heart-btn > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
.productCustom__wishlist-btn {
  width: 35px;
  height: 35px;
  background-color: white;
  left: 65px;
  margin: 0 0 10px 0;
  border-radius: 10px;
  border: 2px solid rgb(100, 255, 100);
}
.productCustom__basket-btn {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  left: 120px;
  margin: 0 0 10px 0;
}
.productCustom__basket-btn > img {
  width: 100%;
  height: 100%;
}
.productCustom__options {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: -40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.productCustom__options button {
  margin: 0 !important;
  position: relative;
  left: 0;
  top: 0;
}
@media screen and (max-width: 1100px) {
  .productCustom-dark
    button:not(.productCustom__customize-btn, .productCustom__options button) {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .productCustom > h3 {
    font-size: 1.25rem;
    text-align: center;
	width: 100%;
	margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .productCustom > h3 {
    font-size: 0.75rem;
  }
  .productCustom > h4 > span {
    display: none;
  }
  .productCustom__customize-btn {
    display: none;
  }
  .productCustom > h4 {
    margin: 0;
    width: 100%;
    text-align: center;
    bottom: 15px;
  }
  .productCustom__options button {
    width: 27.5px;
    height: 27.5px;
  }
}
@media screen and (max-width: 600px) and (min-height: 600px) {
  .productCustom {
    height: 25vh;
  }
}
@media screen and (max-height: 600px) and (min-width: 1000px) {
  .productCustom {
    height: 50vh;
  }
}